@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Macondo+Swash+Caps&family=Quicksand&display=swap");
.text-wrapper-600 {
  max-width: 600px;
}

html {
  background-color: #2a3c46;
  scroll-behavior: smooth;
  font-family: cursive, sans-serif;
}
html body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
html body .main {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 1080px) {
  html body .main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.logo {
  width: 80px;
  height: 80px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0px;
  height: fit-content;
  background: linear-gradient(342deg, rgb(13, 22, 26) 0%, rgb(67, 121, 128) 100%);
  align-self: stretch;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  list-style-type: none;
  margin: 8px;
}

a {
  padding: 0.5rem;
}

a:visited, a:link {
  color: white;
}

a:hover, a:active {
  color: #4fc5fc;
}

.hero {
  height: 90vh;
  width: 100%;
  margin: 0;
  background-image: url("mountains.webp");
  background-size: cover;
  background-position: center;
  background-color: rgb(80, 87, 87);
  font-family: "Macondo Swash Caps", cursive;
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
@media (min-width: 1080px) {
  .hero {
    width: 40vw;
  }
}
.hero .frosting-background {
  position: sticky;
  top: 0;
  background-color: rgba(52, 66, 82, 0.212);
  backdrop-filter: blur(5px);
  padding: 5vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: #1c3237;
}
@media (min-width: 1080px) {
  .form {
    width: 60vw;
  }
}
.form .message-section {
  color: white;
  padding: 16px;
  font-weight: bold;
}
.form .form-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.form .form-section h1 {
  font-family: "Macondo Swash Caps", cursive;
  text-align: center;
}
.form .form-section form {
  border-radius: 4px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 2rem;
}
.form .form-section form .pair {
  margin: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.form .form-section form .pair label {
  margin-bottom: 4px;
  align-self: flex-start;
}
.form .form-section form .pair input {
  width: 70%;
  margin-bottom: 16px;
  align-self: flex-start;
}
.form .form-section form .pair input:focus {
  box-shadow: 2px 2px 2px 2px 100px #87afaf;
}
.form .form-section form .login-section {
  margin: 0 10vw;
}
.form .form-section form .login-section input[type=submit] {
  margin: 16px;
  padding: 8px;
  background: #87afaf;
  color: black;
  font-family: "Macondo Swash Caps", cursive;
  font-size: 1.5rem;
  border-radius: 8px;
  border: 2px solid white;
}
.form .form-section form .login-section p {
  margin: -8px 8px 32px 16px;
  padding: 4px;
}
.form .form-section form .login-section p a {
  color: rgb(67, 121, 128);
}

/*# sourceMappingURL=styles.css.map */
