@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Macondo+Swash+Caps&family=Quicksand&display=swap');

$accent-color: #2a3c46;
@mixin flex-style($d: row, $j: center, $a: center) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

html {
  background-color: $accent-color;
  scroll-behavior: smooth;
  font-family: cursive, sans-serif;
  body {
    margin: 0;
    padding: 0;
    @include flex-style(column, flex-start, stretch)
  }
}

.logo {
  width: 80px;
  height: 80px;
}

header {
  @include flex-style(row, space-between);
  width: 100vw;
  height: fit-content;
  background: linear-gradient(342deg, rgb(13, 22, 26) 0%, rgb(67, 121, 128) 100%);
  align-self: stretch;
  nav {
    ul {
      @include flex-style(row, space-between);
      li {
        list-style-type: none;
        margin: 8px;
        a {
          padding: 0.5rem;
  
        }
        a:visited, a:link {
          color: white;
        }
        a:hover, a:active {
          color: #4fc5fc;
        }
      }
    }
  }
}


.hero {
  height: 80vh;
  width: 100vw;
  background-image: url('mountains.webp');
  background-size: cover;
  background-position: center;
  background-color: rgb(80, 87, 87);
  font-family: 'Macondo Swash Caps', cursive;
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  .frosting-background {
    position: sticky;
    top: 0;
    background-color: rgba(52, 66, 82, 0.212);
    backdrop-filter: blur(5px);
    padding: 5vh;
  }
}

.form {
  @include flex-style(column, flex-start, stretch);
  margin: 0;
  padding: 0;
  .message-section {
    padding: 16px;
    background-color: #f9fafb;
    font-weight: bold;
  }
  .form-section {
    @include flex-style(column, flex-start, center);
    background-color: white;
    box-shadow: 0 4px 2px black;
    h1 {
      font-family: 'Macondo Swash Caps', cursive;
    }
    form {
      .pair {
        margin: 8px;
      }
    }
  }
}
