@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Macondo+Swash+Caps&family=Quicksand&display=swap');

$accent-color: #2a3c46;
@mixin flex-style($d: row, $j: center, $a: center) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.text-wrapper-600 {
  max-width: 600px;
}

html {
  background-color: $accent-color;
  scroll-behavior: smooth;
  font-family: cursive, sans-serif;
  //overflow-x: hidden!important;
  body {
    margin: 0;
    padding: 0;
    @include flex-style(column, flex-start, center);
    .main {
      margin: 0;
      padding: 0;
      width: 100%;
      @media (min-width: 1080px) {
        @include flex-style(row, flex-start, stretch);
      }
    }
  }
}

.logo {
  width: 80px;
  height: 80px;
}

header {
  @include flex-style(row, space-around, center);
  //width: 100%;
  margin: 0;
  padding: 0px;
  height: fit-content;
  background: linear-gradient(342deg, rgb(13, 22, 26) 0%, rgb(67, 121, 128) 100%);
  align-self: stretch;
  nav {
    ul {
      @include flex-style(row, space-around);
      li {
        list-style-type: none;
        margin: 8px;
      }
    }
  }
}

a {
  padding: 0.5rem;

}
a:visited, a:link {
  color: white;
}
a:hover, a:active {
  color: #4fc5fc;
}

.hero {
  height: 90vh;
  width: 100%;
  margin: 0;
  background-image: url('mountains.webp');
  background-size: cover;
  background-position: center;
  background-color: rgb(80, 87, 87);
  font-family: 'Macondo Swash Caps', cursive;
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  @media (min-width: 1080px) {
    width: 40vw;
  }
  .frosting-background {
    position: sticky;
    top: 0;
    background-color: rgba(52, 66, 82, 0.212);
    backdrop-filter: blur(5px);
    padding: 5vh;
  }
}

.form {
  @include flex-style(column, flex-start, stretch);
  margin: 0;
  padding: 0;
  background-color: #1c3237;
  @media (min-width: 1080px) {
    width: 60vw;
  }
  .message-section {
    color: white;
    padding: 16px;
    font-weight: bold;
  }
  .form-section {
    @include flex-style(column, flex-start, center);
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    h1 {
      font-family: 'Macondo Swash Caps', cursive;
    }
    form {
      background-color: #87afaf;
      border-radius: 4px;
      margin-bottom: 64px;
      .pair {
        margin: 8px;
      }
      .login-section {
        button {
          margin: 16px;
          padding: 4px;
          background: white;
          color: black;
          font-family: 'Macondo Swash Caps', cursive;
          font-size: 1.5rem;
          border-radius: 8px;
          border: 2px solid white;
        }
        p {
          margin: -8px 8px 32px 16px;;
          padding: 4px;
        }
      }
    }
  }
}
